.Autisten {
 background-color:rgb(255, 255, 255);
 border-right: none;
 border-radius: 10px;
 -webkit-border-radius:10px;
 -moz-border-radius:10px;
 -ms-border-radius:10px;
 -o-border-radius:10px;
 border-bottom-right-radius: 20px;
 border-top-right-radius: 20px ;
 border: 2px black solid;
 padding-left: 2px;
 font-style:arial;
}

.hub {
  border: 2px rgb(0, 0, 0) solid;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  -ms-border-radius:20px;
  -o-border-radius:20px;
  padding-left: 1px;
  background-color:rgb(0, 0, 0);
  border-bottom-left-radius: 17px;
  border-top-right-radius: 17px;
  font-style:arial;
}

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 10px;
    background: #a0a0a0;
  }
  
  .header {
    padding: 30px;
    text-align: center;
    background: white;
    border: 2px black solid;
    border-bottom: none;
  }
  
  .header h1 {
    font-size: 50px;
  }

  .topnav {
    overflow: hidden;
    background-color: #333;
    border: rgb(0, 0, 0) 2px solid;
  }

  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    border: 2px white solid;
    text-decoration: none;

  }
  
  .topnav a:hover {
    background-color: rgb(100, 100, 100);
    color: black;
    font-weight: 600;
  }
  
  .leftcolumn {   
    float: left;
    width: 75%;
    text-align: center;
    
  }
  
  .rightcolumn {
    float: left;
    width: 25%;
    background-color:  #a0a0a0;
    padding-left: 20px;
  }
  
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
    border:black 2px solid;
  }
  
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border: 2px solid black;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .footer {
    padding: 20px;
    text-align: center;
    background: rgb(255, 255, 255);
    margin-top: 20px;
    border-top: 5px black solid;
  }
  
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }

  .img1:hover {
    width: 600px;
    height: 400px;
  }
  .img1 {
    width: 300px;
    height: 170px;
    background: red;
    transition: width 4s, height 6s;
    -webkit-transition: width 4s, height 6s;
    -moz-transition: width 4s, height 6s;
    -ms-transition: width 4s, height 6s;
    -o-transition: width 4s, height 6s;
}